@import '../../../../assets/scss/variables';

.Container {
  position: relative;
  margin: 0.75rem 0;
  width: 100%;

  input,
  textarea {
    font-size: 1.4rem;
    border-radius: 5px;
    color: #fff;
    margin: 0.25rem 0;
    padding: 1rem;
    width: 100%;
    border: 4px solid transparent;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1) 100%);
    transition: all 300ms ease-in-out;

    &:focus {
      + .EmptyInput {
        left: 0;
        transition: all 250ms ease-in-out;
      }
    }

    + label {
      transform: translateY(50%);
      left: 1rem;
      transition: all 250ms ease-in-out;
      font-size: 1.25em;
    }

    + .FilledInput {
      left: 0rem;
      transition: all 250ms ease-in-out;
      color: $normal-secondary-color;
    }
  }

  label {
    position: absolute;
    pointer-events: none;
  }

  input {
    height: 3rem;
    border-bottom: 4px solid transparent;

    + label {
      bottom: 50%;
    }

    + .FilledInput {
      bottom: 4rem;
    }

    &:focus {
      border-bottom: 4px solid $normal-secondary-color;

      + .EmptyInput {
        bottom: 4rem;
      }
    }
  }

  textarea {
    $min-height: 25rem;
    min-height: $min-height;
    border-bottom: 4px solid transparent;
    resize: none;

    + label {
      bottom: 2rem;
    }

    + .FilledInput {
      bottom: calc($min-height + 1.5rem);
    }

    &:focus {
      border: 4px solid $normal-secondary-color;
      outline: none;

      + .EmptyInput {
        bottom: calc($min-height + 1.5rem);
      }
    }
  }
}

.Error {
  font-weight: bold;

  input,
  textarea {
    background-color: transparentize($color: lighten($normal-danger, 30%), $amount: 0.4);

    + label {
      // text-shadow: 1px 1px 1px rgba(yellow, 0.75);
      color: darken($normal-danger, 10%) !important;
    }

    &:focus + label {
      color: $normal-danger !important;
    }
  }

  input {
    border-bottom: 4px solid $normal-danger;

    &:focus {
      border-bottom: 4px solid $normal-danger;
    }
  }

  textarea {
    border: 4px solid $normal-danger;

    &:focus {
      border: 4px solid $normal-danger;
      outline: none;
    }
  }
}

span.Error {
  display: block;
  margin-top: 0.5rem;
  height: 1rem;
}
