@import '../../../assets/scss/variables';
@import '../../../assets/scss/keyframes';

.Home {
  position: relative;
  z-index: 1;
  width: fit-content;
  width: 100%;
  height: 100%;
  padding: $gutter * 2;

  &__Presentation {
    &__Container {
      margin: 1rem 0;
      line-height: 1.4;
      font-size: 1.2em;
      width: 50%;

      p {
        margin: 1rem 0;
      }
    }

    &__Cta {
      display: inline-block;
      padding: 0.5rem;
      border-radius: 5px;
      background-color: transparent;
      border: 1px solid $normal-secondary-color;
      transition: all 250ms ease-in-out;

      &:hover {
        background-color: $normal-secondary-color;
        color: $normal-primary-color;
      }
    }
  }
}
