.Accessory {
  position: absolute;
  cursor: grab;
}

.Icon {
  &__TieStriped {
    grid-row: 1 / 3;
    grid-column: 1/2;
  }
}

.Beard {
  @extend .Accessory;
  width: 10rem;
}

.Mustache {
  @extend .Accessory;
  width: 6rem;
  top: 26.75rem;
  left: 49%;
}

.Eyeglasses {
  @extend .Accessory;
  width: 10rem;
}

.Sunglasses {
  @extend .Accessory;
  width: 10rem;
  top: 22rem;
  left: 49%;
}

.TopHat {
  @extend .Accessory;
  width: 15rem;
  top: 6rem;
  left: 48%;
}

.TieStriped {
  @extend .Accessory;
  width: 6rem;
}

.CapCop {
  @extend .Accessory;
  width: 16rem;
}

.CapGraduate {
  @extend .Accessory;
  width: 18rem;
}

.Cap {
  @extend .Accessory;
  width: 12rem;
}

.FangsVampire {
  @extend .Accessory;
  width: 4rem;
}
