@import '../../../../assets/scss/variables';

.Accessory {
  position: absolute;
  cursor: grab;
}

.Selected {
  border: 2px solid $normal-secondary-color !important;
  background: lighten($color: $normal-secondary-color, $amount: 42.5) !important;
}

.Icon {
  &__Monocle {
    grid-column: 6;
    grid-row: 1 / 3;
  }
}

.BeardBlack {
  width: 12.5rem;
}

.BigChestnutBeard {
  width: 13rem;
}

.BlondHair {
  width: 17.5rem;
}

.CapGraduate {
  width: 25rem;
}

.Cigarette {
  width: 4rem;
}

.HairBlack {
  width: 15rem;
}

.HairChestnutWoman1 {
  width: 23rem;
}

.HairChestnutWoman2 {
  width: 23rem;
}

.HairPurpleWoman {
  width: 17rem;
}

.MelonHat {
  width: 18rem;
}

.Monocle {
  width: 4rem;
}

.MustacheGentleman {
  width: 8rem;
}

.Scar {
  width: 4rem;
}

.SmokingCigarette {
  width: 6rem;
}

.SmokingPipe {
  width: 6rem;
}

.VikingHelmet {
  width: 20rem;
}
