@import '../../../../assets/scss/variables';

.Accessory {
  position: absolute;
  cursor: grab;

  &Container {
    display: flex;
    place-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    transition: all 400ms ease-in-out;

    &:hover {
      transform: scale(1.15) !important;
      transition: all 200ms ease-in-out;
    }

    img {
      width: 2rem;
    }
  }
}

.Selected {
  border: 2px solid $normal-secondary-color !important;
  background: lighten($color: $normal-secondary-color, $amount: 42.5) !important;
}

.Icon {
  &__Monocle {
    grid-column: 6;
    grid-row: 1 / 3;
  }

  &__BluntThugLife {
    grid-row: 3/5;
    grid-column: 6/6;
  }
}

.BeardBlack {
  width: 12.75rem;
  top: 10.9rem;
  left: 2.1rem;
}

.BigChestnutBeard {
  width: 13rem;
  top: 13rem;
  left: 2.1rem;
}

.BlondHair {
  width: 17.5rem;
  left: -0.7rem;
  top: -0.25rem;
}

.BluntThugLife {
  width: 10rem;
  left: 3.5rem;
  top: 16rem;
}

.CapGraduate {
  width: 25rem;
  left: -4.5rem;
  top: -2rem;
}

.CapScumbag {
  width: 15rem;
  left: 1rem;
  top: -1rem;
}

.Cigarette {
  width: 4rem;
  left: 9rem;
  top: 16.5rem;
}

.Eyeglasses {
  width: 10rem;
  top: 9.5rem;
  left: 3.2rem;
}

.HairBlack {
  width: 15rem;
  left: 0;
  top: 0;
}

.HairChestnutWoman1 {
  width: 23rem;
  left: -4.5rem;
  top: 0.5rem;
}

.HairChestnutWoman2 {
  width: 22rem;
  left: -1rem;
  top: 0.5rem;
}

.HairPurpleWoman {
  width: 17rem;
  left: 0;
  top: 0;
}

.Mask {
  width: 9.25rem;
  left: 3.65rem;
  top: 11.2rem;

  &Groucho {
    width: 10rem;
    left: 3.2rem;
    top: 8.1rem;
  }
}

.MelonHat {
  width: 18rem;
  top: -1rem;
  left: -1.1rem;
}

.Monocle {
  width: 3.5rem;
  left: 9rem;
  top: 9.5rem;
}

.MustacheGentleman {
  width: 8rem;
  top: 14.75rem;
  left: 4.1rem;
}

.Scar {
  width: 3rem;
  left: 10rem;
  top: 12rem;
}

.SmokingCigarette {
  width: 6rem;
  left: 8.25rem;
  top: 12.25rem;
}

.SmokingPipe {
  width: 6rem;
  top: 16.25rem;
  left: 2.2rem;
}

.ThugLifeGlasses {
  width: 11rem;
  left: 3rem;
  top: 10rem;
}

.VikingHelmet {
  width: 20rem;
  left: -1.75rem;
  top: -4.75rem;
}
