@keyframes rubber-band {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

/**
 * ----------------------------------------
 * animation wave
 * ----------------------------------------
 */

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(12deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(9deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/**
 * ----------------------------------------
 * animation wave-appear
 * ----------------------------------------
 */

@keyframes wave-appear {
  0% {
    opacity: 0;
    transform: rotate(0deg) translateX(-200px);
  }
  20% {
    opacity: 0.5;
  }
  35% {
    transform: rotate(0deg) translate(0);
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: rotate(12deg);
  }
  60% {
    opacity: 1;
    transform: rotate(-10deg);
  }
  70% {
    opacity: 1;
    transform: rotate(12deg);
  }
  80% {
    opacity: 1;
    transform: rotate(-10deg);
  }
  90% {
    opacity: 1;
    transform: rotate(9deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

/**
 * ----------------------------------------
 * animation bounce-in-left
 * ----------------------------------------
 */
@keyframes bounce-in-left {
  0% {
    transform: translateX(-600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-68px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}

/**
 * ----------------------------------------
 * animation bounce-in-fwd
 * ----------------------------------------
 */
@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

/**
 * ----------------------------------------
 * animation bounce-in-fwd
 * ----------------------------------------
 */
@keyframes bounce-in {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
@keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */

@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation puff-in-vertical
 * ----------------------------------------
 */

@keyframes puff-in-vertical {
  0% {
    transform: scaleY(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    filter: blur(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation puff-in-horizontal
 * ----------------------------------------
 */

@keyframes puff-in-horizontal {
  0% {
    transform: scaleX(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    filter: blur(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation newspaper
 * ----------------------------------------
 */

@keyframes newspaper {
  0% {
    opacity: 0;
    transform: scale3d(0.4, 0.4, 0.4) rotate(-540deg);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1) rotate(0deg);
  }
}

/**
 * ----------------------------------------
 * animation focus-in-contract
 * ----------------------------------------
 */

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

/**
* ----------------------------------------
* animation slit-in
* ----------------------------------------
*/

@keyframes slit-in {
  0% {
    transform: translateZ(-800px) rotateX(90deg);
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    transform: translateZ(-160px) rotateX(87deg);
    filter: blur(3px);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateX(0);
    filter: blur(0);
    opacity: 1;
  }
}

/**
* ----------------------------------------
* animation tilt-in-right
* ----------------------------------------
*/

@keyframes tilt-in-right {
  0% {
    transform: rotateX(30deg) translateX(300px) skewX(-30deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

/**
* ----------------------------------------
* animation spin
* ----------------------------------------
*/

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-15deg);
  }

  35% {
    transform: rotate(1090deg);
  }

  50%,
  55% {
    transform: rotate(1100deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

/**
* ----------------------------------------
* animation pulsate
* ----------------------------------------
*/

@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  20%,
  25% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }
  70%,
  75% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

/**
* ----------------------------------------
* animation tin-right-out
* ----------------------------------------
*/

@keyframes tin-right-out {
  0%,
  20%,
  40%,
  50% {
    opacity: 1;
    transform: scale(1, 1) translateX(0);
  }

  10%,
  30% {
    opacity: 1;
    transform: scale(1.1, 1.1) translateX(0);
  }

  100% {
    opacity: 0;
    transform: scale(1, 1) translateX(900%);
  }
}

/**
* ----------------------------------------
* animation swap
* ----------------------------------------
*/

@keyframes swap {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) translate(-700px, 0px);
    transform: scale(0, 0) translate(-700px, 0px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) translate(0px, 0px);
    transform: scale(1, 1) translate(0px, 0px);
  }
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
