$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: '../fonts/icomoon' !default;

$codicon-font-family: 'codicon' !default;
$codicon-font-path: '../fonts/codicon' !default;

$codicon-new-file: '\ea7f';
$codicon-new-folder: '\ea80';
$codicon-refresh: '\eb37';
$codicon-collapse: '\eac5';
$codicon-more: '\ea7c';
$codicon-explorer: '\eaf0';
$codicon-search: '\ea6d';
$codicon-gitbranch: '\ea68';
$codicon-debug: '\eb91';
$codicon-extensions: '\eae6';
$codicon-chevron: '\eab6';
$codicon-golive: '\eaad';
$codicon-liveshare: '\eb18';
$codicon-minimize-window: '\eaba';
$codicon-restore-window: '\eabb';
$codicon-maximize-window: '\eab9';
$codicon-close-window: '\eab8';
$codicon-split-horizontal: '\eb56';
$codicon-open-preview: '\eb28';
$codicon-wrench: '\eb65';
$codicon-symbol-variable: '\ea88';
$codicon-symbol-function: '\ea8c';
$codicon-user: '\eb99';
$codicon-settings: '\eb51';
$codicon-check: '\eab2';

$icon-windows: '\e903';
$icon-global: '\e052';
$icon-grid: '\e906';
$icon-console: '\e907';
$icon-code: '\e908';
$icon-podcast: '\e91c';
$icon-folder: '\e92f';
$icon-folder-open: '\e930';
$icon-redo2: '\e968';
$icon-volume-mute2: '\ea2a';
$icon-volume-low: '\ea28';
$icon-volume-medium: '\ea27';
$icon-volume-high: '\ea26';
$icon-c: '\e909';
$icon-css3: '\e90a';
$icon-discord: '\e92c';
$icon-git: '\e90b';
$icon-html5: '\e90c';
$icon-javascript: '\e90d';
$icon-markdown: '\e90e';
$icon-mongodb: '\e90f';
$icon-node-dot-js: '\e910';
$icon-npm: '\e911';
$icon-postgresql: '\e912';
$icon-prettier: '\e913';
$icon-python: '\e914';
$icon-react: '\e915';
$icon-redux: '\e916';
$icon-sass: '\e917';
$icon-spotify: '\e918';
$icon-stackoverflow: '\e919';
$icon-typescript: '\e91a';
$icon-windows1: '\e91b';
$icon-yarn: '\e91d';
$icon-browser-window: '\e91e';
$icon-close-outline: '\e91f';
$icon-document-add: '\e920';
$icon-folder-outline-add: '\e921';
$icon-information-solid: '\e922';
$icon-bug: '\e902';
$icon-flow-branch: '\e904';
$icon-chevron-down: '\e923';
$icon-chevron-right: '\e924';
$icon-circle: '\e925';
$icon-settings: '\e905';
$icon-folder1: '\e926';
$icon-clear: '\e927';
$icon-check: '\e928';
$icon-refresh: '\e929';
$icon-monitor: '\e92a';
$icon-cube: '\e92b';
$icon-play: '\e900';
$icon-search: '\e901';
$icon-bookmark-o: '\f097';
$icon-circle-o: '\f10c';
$icon-terminal: '\f120';
$icon-user-circle-o: '\f2be';

$editor-opening-time: 320ms;

$gutter: 2rem;
$windows-blue: #0a93bd;

$normal-primary-color: #130111;
$normal-secondary-color: #00ff94;
$normal-danger: rgba(255, 0, 0, 0.5);

// Small smartphones
$screen-xs-min: 400px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// 2K and higher screens
$screen-xxl-min: 1800px;

// Extra small devices
@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extra extra large devices
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}

@mixin flex($align, $justify, $flex-flow) {
  display: flex;
  flex-flow: $flex-flow;
  align-items: $align;
  justify-content: $justify;
}

@mixin scrollbar() {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(80, 63, 18) rgb(48, 31, 10);
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(26, 17, 6);
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: #251b11;
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background-color: rgba(0, 0, 0, 0.25);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #412f1d;
  }
}
