@import '../../../assets/scss/variables';

.Projects {
  @include flex(center, center, column nowrap);
  position: relative;
  z-index: 1;
  gap: 5rem;
  padding: $gutter;

  @include lg {
    padding: clac($gutter * 2);
  }

  @include xl {
    gap: 10rem;
    align-items: stretch;
    flex-flow: row wrap;
  }
}
