@import '../../../assets/scss/variables';

.Projects {
  @include flex(stretch, center, column nowrap);
  position: relative;
  z-index: 1;
  gap: 5rem;

  @include xl {
    gap: 10rem;
    flex-flow: row wrap;
  }
}
