@import '../../../assets/scss/variables';

.Container {
  @include flex(center, center, row nowrap);
  position: fixed;
  width: fit-content;
  top: 50%;
  left: 50%;
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: 10000;

  form {
    background-color: #dfdfdf;
    padding-bottom: 2rem;
    position: relative;
    text-align: center;

    header {
      @include flex(center, center, row nowrap);
      position: relative;
      cursor: grab;
      padding: 0 1rem;
      top: 0;
      left: 0;
      width: 100%;
      height: 3rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }

    .Title {
      @include flex(center, center, row nowrap);
      width: 100%;
      margin: auto;
      height: 100%;
      font-size: 1.2em;
    }

    fieldset {
      display: grid;
      padding: 2rem;
      grid-template-columns: repeat(4, 1fr);
      place-items: stretch;
      gap: 1rem;
      height: 30rem;
      overflow-y: auto;

      @include lg {
        height: auto;
        overflow: hidden;
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

.ButtonsContainer {
  @include flex(center, space-around, row wrap);

  padding-top: 2rem;

  @include lg {
    padding-top: 0;
  }

  button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    color: $normal-primary-color;
    background-color: transparent;
    border: 1px solid $normal-primary-color;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: $normal-secondary-color;
      border-color: $normal-secondary-color;
      color: $normal-primary-color;
    }
  }
}
