@import '../../../../assets/scss/variables';

.Explorer {
  color: #ccc;
  font-size: 0.75rem;
  height: 100%;

  &__Header {
    @include flex(center, space-between, row nowrap);
    position: relative;
    padding: 1rem;
    height: 2rem;

    h2 {
      text-transform: uppercase;
    }

    span {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      font-size: 1rem;
      cursor: pointer;

      &::before {
        font-family: $codicon-font-family;
        content: $codicon-more;
      }
    }
  }

  &__Body {
    height: 100%;
  }
}
