@import '../../../../../assets/scss/variables.scss';

.Field {
  input,
  textarea {
    font-family: 'Fira Code', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 0.2rem;
    position: relative;
    background-color: transparent;
    border: none;
    height: 100%;
    resize: none;
    font-size: 100%;
  }

  textarea {
    width: 50%;
    height: 1rem;
    outline: none;
    overflow: hidden;
  }
}
