@import '../../../assets/scss/variables';

.Prompt {
  @include flex(center, center);
  gap: 0.5rem;
  font-size: 1.4rem;
  color: #fff;

  input {
    background-color: transparent;
    border: none;
    font-size: inherit;
    color: inherit;
    width: 100%;
  }
}

.Path {
  position: relative;
  color: #fff;
  margin-bottom: 0.5rem;

  &__Owner {
    color: rgb(64, 118, 219);
  }

  &__MachineName {
    color: rgb(235, 57, 51);
  }

  &__Path {
    color: rgb(64, 118, 219);
  }
}
