@import '../../assets/scss/variables';

.Terminal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 3rem);
  width: 100vw;
  color: #fff;

  &__Main {
    opacity: 0.95;
    background-color: #000;
    height: calc(100vh - 5rem);
  }
}
