@import '../../../assets/scss/variables';

.Contact {
  width: 90vw;
  height: 100%;

  @include md {
    max-width: 600px;
  }

  @include lg {
    width: 50vw;
  }

  button {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.2em;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 2px;
    background: rgba(155, 155, 155, 0.5);
    transition: all 250ms ease-in-out;

    &:hover,
    &:focus {
      background-color: $normal-secondary-color;
      color: #130111;
    }

    &:disabled {
      background: rgba(15, 15, 15, 0.75);
      color: unset;
      cursor: not-allowed;
    }
  }
}

.FormControl {
  @include flex(center, center, column nowrap);
  height: 100%;
  width: 100%;
}

.SuccessMessage {
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
  border: 2px solid opacify($color: $normal-success, $amount: 1);
  background-color: $normal-success;
  animation: appear 500ms ease;
}

.ErrorMessage {
  @extend .SuccessMessage;
  border: 2px solid opacify($color: $normal-danger, $amount: 1);
  background-color: $normal-danger;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
