@import './reset.scss';
@import './variables';
@import './fonts';

// global styles

:root {
  --desktop-menu-bar-height: 2.5rem;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #222;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(59, 226, 173, 0.3536765047816002) rgba(44, 255, 188, 0.354);
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 8px;
  background: linear-gradient(
    197deg,
    rgb(120, 167, 153) 0%,
    rgba(62, 165, 149, 0.5) 50%,
    rgba(59, 226, 173, 0.3536765047816002) 100%
  );
}

// ::-webkit-scrollbar-thumb:window-inactive {
//   background-color: #222;
// }

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    197deg,
    rgb(158, 229, 212) 0%,
    rgba(96, 224, 205, 0.5) 50%,
    rgba(44, 255, 188, 0.354) 100%
  );
}

#root {
  background-color: #222;
}

// navlink styles
.normal--active {
  // padding: 0.25rem 0.5rem;
  border-bottom: 4px solid $normal-secondary-color !important;
}

.active {
  border-bottom: 4px solid rgba(25, 164, 206, 0.753);
  background-color: rgba(255, 255, 255, 0.15);

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

// code editor
.editor-activitybar-active {
  position: relative;
  text-align: center;

  &::after {
    position: absolute;
    height: 100%;
    left: 0;
    bottom: 0;
    content: '';
    border-left: 2px solid white;
  }
}

.project-item {
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.active-file {
  background-color: rgba(255, 255, 255, 0.1);
}

.project {
  .folder-item {
    &::before {
      transition: all 200ms ease-in;
      position: absolute;
      left: 0.5rem;
      content: '';
      border-left: 1px solid transparent;
      height: 100%;
    }
  }

  &:hover {
    .folder-item {
      &::before {
        transition: all 200ms ease-in;
        position: absolute;
        left: 0.5rem;
        content: '';
        border-left: 1px solid rgba(255, 255, 255, 0.15);
        height: 100%;
      }
    }
  }
}

.tag-name {
  color: #569cd6;
}

.keyword {
  @extend .tag-name;
  font-style: italic;
}

.attribute,
.variable {
  color: #9cdcfe;
}

.string-color {
  color: #ce9178;
}

.comment-tag {
  color: gold;
}

.comments {
  color: #6a9955;
}

.tag {
  color: #808080;
}

.data-type {
  color: #4ec9b0;
}

.function {
  color: #dcdcaa;
}

.await {
  font-style: italic;
  color: #c586c0;
}

.indent {
  padding-left: 1.5rem;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.color-picker {
  width: 2rem;
  height: 2rem;
  position: fixed;
  border: 2px solid #fff;
  border-radius: 0 50% 50% 50%;
  z-index: 10000000;
}

.notif {
  padding: 1rem;
  position: fixed;
  z-index: 5000;
  border-radius: 0 0 20px 20px;
  background-color: #333;
  border: 2px solid white;
  border-top-color: transparent;
  color: white;
  left: 50%;
  top: 0;
  transform: translate(-50%, 110%);

  &.appear {
    animation: slide-from-top 500ms 1 forwards ease;
  }

  &.disappear {
    animation: slide-to-top 500ms 1 forwards ease;
  }
}

@keyframes slide-from-top {
  from {
    transform: translate(-50%, -110%);
  }
  to {
    transform: translate(-50%, 0);
  }
}
@keyframes slide-to-top {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, -110%);
  }
}
