@import '../../../assets/scss/variables';

.TitleBar {
  @include flex(center, space-between, row nowrap);
  background-color: #3c3c3c;
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  cursor: default;

  ul {
    @include flex(center, flex-start, row nowrap);
    height: 100%;
  }

  li,
  h2 {
    color: #ccc;
    font-size: 0.9em;
  }

  &__Menu {
    height: 100%;

    li {
      padding: 0 0.5rem;
    }
  }

  &__WindowControl {
    height: 100%;

    li {
      padding: 0 1rem;
    }
  }
}

.Icon__Exit {
  &:hover {
    background-color: rgb(230, 48, 48);
    color: #fff;
  }
}
