@import '../../../../assets/scss/variables';

.WindowsIcon {
  color: #fff;

  &__Hovered {
    color: $windows-blue;
  }

  &__Container {
    @include flex(center, center, row nowrap);
    width: 3rem;
    height: 100%;
    &:hover {
      background-color: rgba(75, 75, 75, 0.25);
    }
  }
}
