@import '../../../../assets/scss/variables';

.WindowsIcon {
  @include flex(center, center, row nowrap);
  width: 3rem;
  height: 100%;
  color: #fff;

  &:hover {
    color: $windows-blue;
    background-color: rgba(75, 75, 75, 0.25);
  }

  span {
    font-family: $icomoon-font-family;

    &::before {
      content: $icon-windows1;
    }
  }
}
