@import '../../assets/scss/variables';

@keyframes appear {
  from {
    height: 20%;
    width: 10%;
  }
  to {
    position: static;
    height: 90%;
    width: 80%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.CodeEditor {
  height: 90%;
  width: 80%;
  z-index: 3000;
  background-color: #1e1e1e;
  animation: appear $editor-opening-time 1 forwards ease-in-out;

  &__Content {
    @include flex(stretch, flex-start, row wrap);
    height: 100%;
    animation: fadeIn 180 + $editor-opening-time forwards 1 cubic-bezier(0.87, 0.47, 0.69, 0.77);
  }
  &__Main {
    @include flex(stretch, flex-start, row nowrap);
    height: calc(100% - 3.5rem);
    width: 100%;
  }
}
