@import '../../assets/scss/variables';
@import '../../assets/scss/keyframes';

.Layout {
  &__Normal {
    display: grid;
    grid-template-rows: auto 4rem;
    grid-template-columns: 10rem auto;
    grid-template-areas: 'header main' 'header footer';
    position: relative;
    z-index: 1;
    background-color: #222;

    &__Main {
      grid-area: main;
      padding: 1rem;
      max-width: 1000px;
      position: relative;
      min-height: calc(100vh - 4rem);

      &__Change {
        animation: swap 1 1s ease;
      }

      @include xl {
        max-width: 1500px;
      }
    }
  }
}
