@import '../../../assets/scss/variables';

.Projects {
  @include flex(stretch, space-between, column nowrap);
  overflow: auto;
  position: relative;
  z-index: 1;

  @include md {
    flex-flow: row wrap;
  }
}
