@import '../../../assets/scss/variables';

.Container {
  @include flex($justify: space-between);
  padding: calc($gutter * 2);
  gap: 4rem;
  font-size: 1rem;
  height: 100%;

  iframe {
    border-radius: 20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  }
}

.Content {
  @include flex(center, flex-start, column nowrap);

  > div {
    max-width: 800px;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 2rem;
    text-align: center;
  }

  p {
    font-size: 1.2em;
    line-height: 1.4;
    text-align: justify;
  }
}

.Content,
iframe {
  width: 50%;
}

.Contact {
  max-width: 800px;
  width: 100%;
  font-size: 1em;
  height: 100%;

  button {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1em;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 2px;
    background: rgba(155, 155, 155, 0.5);
    transition: all 250ms ease-in-out;

    &:hover,
    &:focus {
      background-color: $normal-secondary-color;
      color: #130111;
    }

    &:disabled {
      background: rgba(15, 15, 15, 0.75);
      color: unset;
      cursor: not-allowed;
    }
  }

  &__Id {
    @include flex(center, space-between, row nowrap);
    width: 100%;
    gap: 3rem;
  }
}

.FormControl {
  @include flex(center, flex-start, column nowrap);
  height: 100%;
  width: 100%;
  margin-top: 4rem;

  div,
  button {
    position: relative;
    z-index: 1;
  }
}

.SuccessMessage {
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
  border: 2px solid opacify($color: $normal-success, $amount: 1);
  background-color: $normal-success;
  animation: appear 500ms ease;
}

.ErrorMessage {
  @extend .SuccessMessage;
  border: 2px solid opacify($color: $normal-danger, $amount: 1);
  background-color: $normal-danger;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
