@import '../../../../assets/scss/variables';

.ContextMenu {
  position: absolute;
  top: 2.5rem;
  left: 4rem;
  z-index: 100;
  min-width: 12rem;
  height: fit-content;
  border: 1px solid #ccc;
  background-color: #333;

  li {
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: center;
    text-align: left;
    padding: 0.5rem;
    color: #ccc;

    &:hover {
      background-color: rgba(175, 175, 175, 0.25);
    }
  }
}
