@import '../../assets/scss/variables';
@import '../../assets/scss/keyframes';

.InteractivePicture {
  opacity: 0;
  animation: fade-in-fwd 1500ms 2.5s forwards ease-in-out;
  position: relative;
  width: 35% !important;

  button {
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 1.4rem;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid $normal-secondary-color;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: $normal-secondary-color;
      color: $normal-primary-color;
    }

    &.Spin {
      animation: spin-one-turn 1s 1 both ease-in-out;
    }

    .Arrow {
      position: absolute;

      &:first-child {
        left: 20%;
        top: 10%;
      }

      &:last-child {
        right: 20%;
        bottom: 10%;
      }
    }
  }
}

.Picture {
  width: 17.5rem;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
}
