@import '../../../assets/scss/variables';

.SocialNetWorks {
  font-family: $brands-font-family;
  font-size: 1rem;
  width: 100%;

  li {
    @include flex(center, space-between, row nowrap);
    width: 100%;
  }

  a {
    @include flex(baseline, space-between, row nowrap);
    width: 100%;
  }

  a span {
    margin-top: 1rem;
    font-size: 1.5rem;
    transition: all 200ms ease;
  }

  &__Malt {
    font-family: $malt-font-family;
    color: #fff;

    a {
      &:hover {
        span {
          color: $malt-color;
        }
      }

      span::before {
        content: $icon-malt;
      }
    }
  }

  &__Github {
    a {
      &:hover {
        span {
          color: #999;
        }
      }
      span::before {
        content: $brand-github;
      }
    }
  }

  &__Twitter {
    a {
      &:hover {
        span {
          color: $twitter-color;
        }
      }
    }

    span::before {
      content: $brand-twitter;
    }
  }
}
