@import '../../../../assets/scss/variables';

.Project {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  padding: $gutter;
  margin: $gutter;
  background-color: rgb(5, 22, 15);

  @include md {
    width: 40%;
  }

  @include xl {
    width: 25%;
  }

  &__Name {
    font-size-adjust: 1;
    font-size: 2em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: $gutter;
  }

  &__ImageContainer {
    width: 100%;
    img {
      max-width: 100%;
    }
  }

  &__Description {
    margin: $gutter/2 0;
  }

  &__Link {
    display: block;
    margin: $gutter/4 0;
  }

  &__TechnosList {
    @include flex(center, end, row nowrap);
    margin-top: $gutter;

    &__Item {
      img {
        width: 2rem;
        margin: 0 $gutter/6;
      }
    }
  }
}
