@import '../../assets/scss/variables';

.Header {
  &__Basic {
    @include flex(center, space-between, row nowrap);
    padding: $gutter;
    grid-area: header;
    position: relative;
  }
}
