@import '../../assets/scss/variables';

.Header {
  &__Basic {
    @include flex(center, space-between, row nowrap);
    padding: 1rem;
    grid-area: header;

    &__Navigation {
      ul {
        @include flex(center, center, row nowrap);

        li {
          font-size: 1.6rem;
          margin: 0 1rem;
        }
      }
    }
  }
}
