@import '../../assets/scss/variables';

.Header {
  &__Basic {
    @include flex(center, space-between, row nowrap);
    grid-area: header;
    padding: $gutter / 2;
    position: relative;

    @include lg {
      padding: $gutter;
    }

    img {
      width: 12rem;

      @include lg {
        width: 20rem;
      }
    }
  }
}
