@import '../../assets/scss/variables';
@import '../../assets/scss/keyframes';

.ImageGallery {
  @include flex(center, space-between, row nowrap);

  &__Container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 95%;
    animation: appear 400ms ease-in-out;
  }
}

.Cross {
  position: fixed;
  z-index: 1000;
  top: 3rem;
  right: 1.5rem;

  &:hover,
  &:active {
    transform: rotate(225deg);
  }
}

.Arrow {
  &__Left,
  &__Right {
    font-size: 10rem;
    cursor: pointer;
    color: $normal-secondary-color;

    &:hover {
      animation: pulsate 2s infinite ease-in-out;
    }
  }
}

.Image {
  width: 75%;
}
