@import '../../../../../../assets/scss/variables';

.Actions {
  @include flex(center, flex-start, row nowrap);
  font-size: 1.2em;
  width: 55%;
  font-weight: normal;

  &__CreateFile {
    &::before {
      margin: 0 0.25rem;
      font-family: $codicon-font-family;
      content: $codicon-new-file;
    }
  }

  &__CreateFolder {
    &::before {
      margin: 0 0.25rem;
      font-family: $codicon-font-family;
      content: $codicon-new-folder;
    }
  }

  &__Refresh {
    &::before {
      margin: 0 0.25rem;
      font-family: $codicon-font-family;
      content: $codicon-refresh;
    }
  }

  &__Collapse {
    &::before {
      margin: 0 0.25rem;
      font-family: $codicon-font-family;
      content: $codicon-collapse;
    }
  }
}
