@import '../../../assets/scss/variables';
@import '../../../assets/scss/keyframes';

.HeaderNav {
  @include flex(stretch, space-between, column nowrap);
  height: 100%;

  @include lg {
    width: 100%;
  }

  &__Links {
    @include flex(center, center, column nowrap);
    z-index: 1;
    width: 50%;

    @include lg {
      @include flex(flex-start, center, column nowrap);
      position: relative;
      width: 100%;
      background-color: transparent;
      top: auto;
    }

    li {
      @include flex(center, space-between, row nowrap);
      font-size: 1.2rem;
      margin: 0.5rem 0;
      width: 100%;
      cursor: pointer;

      a {
        @include flex(center, space-between, row nowrap);
        padding: 0.5rem 0;
      }

      @include lg {
        transition: transform 100ms ease, color 100ms ease;
      }
    }
  }
}

.Burger {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  z-index: 500;
}

.Menu {
  @include flex(center, center, column nowrap);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transform: translate(0, -110%);
  background-color: #0a161f;
  transition: transform 300ms ease-in-out, opacity 400ms ease-in-out;

  &.Open {
    transform: translate(0, 0);
    opacity: 1;
  }

  @include lg {
    @include flex(flex-start, space-between, column nowrap);
    opacity: 1;
    transform: translate(0, 0);
    position: static;
    width: auto;
    background-color: transparent;
  }
}

.NavLink {
  padding-right: 1rem;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    height: 4px;
    background-color: $normal-secondary-color;
    width: 0;
    left: 0;
    bottom: 0.5rem;
    transition: width 300ms ease;
  }

  @include lg {
    width: 100%;

    &:hover:before {
      width: 100%;
    }
  }

  &.Active {
    &:before {
      width: 100%;
    }

    @include lg {
      &:before {
        width: 0;
      }
    }

    &::after {
      border-bottom: 4px solid $normal-secondary-color;
    }

    &.Hovered {
      &:before {
        width: 100%;
      }
    }
  }
}

@mixin icon($ff, $icon) {
  &::after {
    @include flex(center, center);
    font-family: $ff;
    font-size: 1.5rem;
    content: $icon;
    padding: 0.5rem 0;
  }
}

.Home,
.Projects,
.Skills,
.Contact {
  position: relative;
}

.Home a {
  @include icon($navicons-font-family, $icon-home);
}
.Projects a {
  @include icon($navicons-font-family, $icon-suitcase);
}
.Skills a {
  @include icon($icomoon-font-family, $icon-settings);
}
.Contact a {
  @include icon($navicons-font-family, $icon-mail);
}
