@import '../../../assets/scss/variables';
@import '../../../assets/scss/keyframes';

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    height: 10rem;
  }
}

@keyframes slideDownUp {
  from {
    height: 10rem;
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

.HeaderNav {
  @include flex(stretch, space-between, column nowrap);
  width: 100%;
  height: 100%;

  &__Links {
    @include flex(center, center, column nowrap);
    z-index: 1;

    @include lg {
      @include flex(flex-start, center, column nowrap);
      width: 100%;
      position: relative;
      animation: none;
      background-color: transparent;
      top: auto;
    }

    &.Open {
      animation: slideDown 500ms forwards;

      @include lg {
        animation: none;
      }
    }

    &.Closed {
      animation: slideDownUp 500ms forwards;

      @include lg {
        animation: none;
      }
    }

    &__Item {
      @include flex(center, space-between, row nowrap);
      font-size: 1.2rem;
      margin: 0.5rem 0;
      width: 100%;
      cursor: pointer;

      a {
        @include flex(center, space-between, row nowrap);
        padding: 0.5rem 0;
      }

      @include lg {
        transition: transform 100ms ease, color 100ms ease;
      }
    }
  }
}

.Menu {
  @include flex(center, space-between, column nowrap);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translate(0, -110%);
  background-color: #0a161f;
  transition: all 250ms ease;

  &.Visible {
    transform: translate(0, 0);
  }

  @include lg {
    @include flex(flex-start, space-between, column nowrap);
    position: static;
    width: auto;
    background-color: transparent;
  }
}

.NavLink {
  animation: grow 500ms ease forwards;

  @include lg {
    animation: shrink 500ms ease forwards;

    &.Hovered {
      animation: grow 500ms ease forwards;
    }
  }
}

.Icons {
  font-family: $navicons-font-family;
  display: inline-block;
  padding: 0.5rem 0;
}

.Home span::after {
  @extend .Icons;
  content: $icon-home;
}
.Projects span::after {
  @extend .Icons;
  content: $icon-suitcase;
}
.Skills span::after {
  display: inline-block;
  padding: 0.5rem 0;
  font-family: $icomoon-font-family;
  content: $icon-settings;
}
.Contact span::after {
  @extend .Icons;
  content: $icon-mail;
}
