@import '../../assets/scss/variables';
@import '../../assets/scss/keyframes';

.ImageGallery {
  @include flex(center, space-between, row nowrap);

  &__Container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 95%;
    animation: fade-in-centered 400ms ease-in-out;

    &.FadeOut {
      animation: fade-out-centered 400ms ease-in-out;
    }
  }
}

.Cross {
  color: $normal-secondary-color;
  font-size: 3rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1500;
  cursor: pointer;
  animation: fade-in-fwd 400ms ease-in-out;
  transition: all 200ms ease;

  &:hover {
    transform: rotate(180deg);
  }

  &.FadeOut {
    animation: fade-out-fwd 400ms ease-in-out;
  }
}

.Arrow {
  &__Left,
  &__Right {
    font-size: 10rem;
    cursor: pointer;
    color: $normal-secondary-color;

    &:hover {
      animation: pulsate 2s infinite ease-in-out;
    }
  }
}

.Image {
  width: 75%;
}

.FadeIn {
  animation: fade-in-fwd 400ms forwards ease-in-out;
}

.FadeOut {
  animation: fade-out-fwd 400ms ease-in-out;
}
