@import '../../../assets/scss/variables';

$hover-color: lighten(purple, 20%);

.Container {
  @include flex(center, space-between);
  background-color: #0c0e14;
  padding: 1rem;
  height: 3rem;
  transition: color 200ms ease;
  color: #ddd;
  cursor: default;

  svg {
    transition: color 200ms ease;
  }

  &:active {
    cursor: move;
  }

  &:not(.Focused) {
    filter: brightness(92%);
    color: #999;

    svg {
      filter: brightness(0.5);
    }

    .Action_Button {
      background-color: grey;
    }
  }
}

.Menu {
  @include flex(center, center);
  gap: 1rem;
}

.Add_Tab {
  @include flex(center, center);
  gap: 1rem;
}

.Tab_Count {
  @include flex(center, center);
  gap: 0.5rem;
  transition: color 200ms ease;

  &:hover {
    color: $hover-color;

    &:after {
      color: $hover-color;
    }
  }

  &:after {
    font-family: $portfolio-font-family;
    content: $p-dropdown-arrow;
  }
}

.Plus {
  &:before {
    font-family: $portfolio-font-family;
    content: $p-plus;
    transition: color 200ms ease;
  }

  &:hover:before {
    color: $hover-color;
  }
}
