@import '../../assets/scss/variables';

.Footer {
  &__Dev {
    @include flex(center, space-between, row nowrap);
    position: relative;
    height: $gutter * 1.5;
    background-color: #1e1e1e;
    color: #ccc;

    &__Left,
    &__Right {
      height: 100%;
      width: 50%;
    }

    &__Left {
      @include flex(center, flex-start, row nowrap);
    }

    &__Right {
      @include flex(center, flex-end, row nowrap);
      z-index: 20;
    }

    &__Item {
      @include flex(center, center, row nowrap);
      position: relative;
      height: 100%;
      padding: 0 1rem;
      cursor: default;
      border-bottom: 4px solid transparent;
      font-family: $icomoon-font-family;
      width: 4rem;
      font-size: 1.65rem;
      background-color: #1e1e1e;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &__FolderExplorer {
      @extend .Footer__Dev__Item;
      &::before {
        content: $icon-folder;
        color: rgb(199, 199, 94);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0.5rem;
        height: 0.75rem;
        width: 1rem;
        border: 4px solid $windows-blue;
        border-bottom: none;
      }
    }

    &__Spotify {
      @extend .Footer__Dev__Item;

      &::before {
        content: $icon-spotify;
        color: #1ed760;
      }
    }

    &__VscodeIcon {
      width: 1.75rem;

      &__Container {
        @extend .Footer__Dev__Item;
      }
    }

    &__Discord {
      @extend .Footer__Dev__Item;

      &::before {
        z-index: 1;
        content: $icon-discord;
        color: #7289da;
      }

      &::after {
        content: '';
        position: absolute;
        height: 1rem;
        width: 1.1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
      }
    }

    &__NULL {
      position: relative;
      height: 100%;
      width: 100%;
      background-color: #1e1e1e;
    }

    &__MoreIcons {
      @extend .Footer__Dev__Item;
      width: 1rem;
      font-size: 1.5em;

      transform: rotate(180deg);

      &::before {
        font-family: $icomoon-font-family;
        content: $icon-chevron-down;
      }
    }

    &__Lang {
      @extend .Footer__Dev__Item;
      width: 2rem;
      font-size: 0.75em;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }

  &__Normal {
    @include flex(center, center, row nowrap);
    grid-area: footer;
    position: relative;
    height: 5rem;

    &__Content {
      @include flex(baseline, center, row nowrap);

      span {
        margin: 0 0.25rem;
      }
    }
  }
}
