@import '../../assets/scss/variables';

.Header {
  &__Normal {
    @include flex(center, space-between, column nowrap);
    background-color: $normal-primary-color;
    grid-area: header;
    padding: $gutter / 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 20;
    transform: translateX(-7rem);
    transition: all 400ms ease-in-out;
    width: 10rem;

    h1 {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 500ms ease-in, transform 400ms ease-in-out;
    }

    a:hover,
    span:hover {
      color: $normal-secondary-color;

      @include lg {
        transition: color 250ms ease;
      }
    }

    &.Hovered {
      transform: translateX(0);
    }

    img {
      width: 12rem;

      @include lg {
        width: 5rem;
      }
    }
  }
}
