@import '../../../assets/scss/variables';

.AccessoryPicker {
  position: fixed;
  width: fit-content;
  top: 50%;
  left: 50%;
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: 10000;

  form {
    background-color: #dfdfdf;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    fieldset {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      place-items: stretch;
      gap: 1rem;
      padding: 1rem;
    }

    img {
      border: 2px solid black;
      border-radius: 5px;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.85);
      cursor: pointer;

      width: 4rem !important;
      top: auto !important;
      bottom: auto !important;
      left: auto !important;
      right: auto !important;
      position: static !important;
      transform: none !important;
      transition: all 400ms ease-in-out;

      &:hover {
        transform: scale(1.2) !important;
        transition: all 200ms ease-in-out;
      }
    }
  }
}

.ButtonsContainer {
  @include flex(center, space-around, row wrap);

  button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    color: $normal-primary-color;
    background-color: transparent;
    border: 1px solid $normal-primary-color;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: $normal-primary-color;
      color: $normal-secondary-color;
    }
  }
}

.Cross {
  color: $normal-primary-color;
  font-size: 1.4rem;
  position: fixed;
  top: 0.75rem;
  right: 0.75rem;
  z-index: 1500;
  cursor: pointer;
  animation: fade-in-fwd 400ms ease-in-out;
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &:hover {
    transform: rotate(180deg);
  }
}
