@import '../../../assets/scss/variables';

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: fit-content;
  }
}
@keyframes blinkTextCursor {
  from,
  to {
    color: white;
  }

  50% {
    color: transparent;
  }
}

.Container {
  margin: 0.4rem 0;
}

.Line {
  @include flex();

  span:first-child {
    margin-right: 0.5rem;
  }

  // span:last-child {
  //   margin-left: 0.25rem;
  //   animation: blinkTextCursor 1.25s step-end infinite;
  // }
}
