@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/keyframes';

.Accessory {
  position: absolute;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &Container {
    display: flex;
    place-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
    min-height: 4rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    transition: all 400ms ease-in-out;

    &:hover {
      transform: scale(1.15) !important;
      transition: all 200ms ease-in-out;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 0;
      transform: rotate(0);
      transition: height 400ms ease-out;
    }

    img {
      width: 2rem;
    }
  }
}

.Selected {
  border: 2px solid $normal-secondary-color !important;
  background: lighten($color: $normal-secondary-color, $amount: 42.5) !important;
}

.Disabled {
  position: relative;

  img {
    filter: grayscale(100%);
  }

  &:hover {
    transform: none !important;
    cursor: not-allowed;
  }

  &::before,
  &:after {
    position: absolute;
    content: '';
    background: rgba($malt-color, 0.5);
    display: block;
    width: 4px;
    height: 150%;
    transform: rotate(-45deg);
    //center the X vertically and horizontally:
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 50000;
  }

  &:after {
    transform: rotate(45deg);
  }
}

.Icon {
  $spot--higher: 22deg;
  $spot--high: 24deg;
  $spot--medium: 36deg;
  $spot--medlow: 40deg;

  &__Monocle {
    grid-column: 1;
    grid-row: 3 / 5;

    &.Disabled {
      &::before {
        transform: rotate(-$spot--high);
      }

      &::after {
        transform: rotate($spot--high);
      }

      @include lg {
        &::before {
          transform: rotate(-$spot--higher);
        }

        &::after {
          transform: rotate($spot--higher);
        }
      }
    }
  }

  &__BluntThugLife {
    grid-row: 3/5;
    grid-column: 4/4;
  }

  &__Rose {
    grid-row: 7/9;
    grid-column: 3/3;

    @include lg {
      grid-row: auto;
      grid-column: auto;
    }
  }

  &__Suit {
    grid-row: 7/9;
    grid-column: 4/4;

    @include max-lg {
      &::before {
        transform: rotate(-$spot--high);
      }

      &::after {
        transform: rotate($spot--high);
      }
    }

    @include lg {
      grid-row: auto;
      grid-column: auto;
    }
  }

  &__SmokingCigarette.Disabled,
  &__SmokingPipe.Disabled {
    @include lg {
      &::before {
        transform: rotate(-$spot--medlow);
      }

      &::after {
        transform: rotate($spot--medlow);
      }
    }
  }

  &__HAIR.Disabled,
  &__XmasBeard.Disabled {
    @include lg {
      &::before {
        transform: rotate(-$spot--medium);
      }

      &::after {
        transform: rotate($spot--medium);
      }
    }
  }

  &__BeardBlack.Disabled {
    @include lg {
      &::before {
        transform: rotate(-$spot--medlow);
      }

      &::after {
        transform: rotate($spot--medlow);
      }
    }
  }

  &__MaskGroucho.Disabled {
    @include lg {
      &::before {
        transform: rotate(-$spot--medium);
      }

      &::after {
        transform: rotate($spot--medium);
      }
    }
  }

  &__CLOTH.Disabled {
    @include lg {
      &::before {
        transform: rotate(-$spot--medium);
      }

      &::after {
        transform: rotate($spot--medium);
      }
    }
  }
}

.BeardBlack {
  width: 12.75rem;
  top: 10.9rem;
  left: 2.1rem;
  z-index: 25;
}

.BlackSuitWhiteShirt {
  width: 25.9rem;
  left: -4.6rem;
  top: 18.2rem;
}

.BlondHair {
  width: 17.5rem;
  left: -0.7rem;
  top: -0.25rem;
  z-index: 200;
}

.BluntThugLife {
  animation: fade-in-fwd 2.75s ease-in-out;

  width: 10rem;
  left: 2.8rem;
  top: 16rem;
  z-index: 150;
}

.BowTie {
  width: 8rem;
  left: 4.25rem;
  top: 21rem;
  z-index: 100;
}

.CapGraduate {
  width: 25rem;
  left: -4.5rem;
  top: -2rem;
  z-index: 500;
}

.CapScumbag {
  width: 15rem;
  left: 1rem;
  top: -1rem;
  z-index: 500;
}

.Eyeglasses {
  width: 10rem;
  top: 9.5rem;
  left: 3.2rem;
  z-index: 100;
}

.HairBlack {
  width: 15rem;
  left: 0;
  top: 0;
  z-index: 200;
}

.HairChestnutWoman1 {
  width: 23rem;
  left: -4.5rem;
  top: 0.5rem;
  z-index: 200;
}

.HairChestnutWoman2 {
  width: 22rem;
  left: -1rem;
  top: 0.5rem;
  z-index: 200;
}

.HairPurpleWoman {
  width: 17rem;
  left: 0;
  top: 0;
  z-index: 200;
}

.Mask {
  width: 9.25rem;
  left: 3.65rem;
  top: 11.2rem;
  z-index: 50;

  &Groucho {
    width: 10rem;
    left: 3.2rem;
    top: 8.1rem;
  }
}

.MelonHat {
  width: 18rem;
  top: -1rem;
  left: -1.1rem;
  z-index: 500;
}

.Monocle {
  width: 3.5rem;
  left: 9rem;
  top: 9.5rem;
}

.MustacheGentleman {
  width: 8rem;
  top: 14.75rem;
  left: 4.1rem;
}

.Rose {
  width: 4rem;
  left: 13rem;
  top: 25rem;
  z-index: 100;
}

.RoundGlasses {
  width: 10rem;
  left: 3.25rem;
  top: 10.25rem;
}

.Shirt {
  width: 34rem;
  left: -8.75rem;
  top: 17.5rem;
}

.SmokingCigarette {
  width: 6rem;
  left: 8.25rem;
  top: 12.25rem;
  z-index: 250;
}

.SmokingPipe {
  width: 6rem;
  top: 16.25rem;
  left: 2.2rem;
  z-index: 250;
}

.Suit {
  width: 30rem;
  left: -7.9rem;
  bottom: -13.5rem;
}

.ThugLifeGlasses {
  animation: fade-in-fwd 2s ease-in-out;

  width: 11rem;
  left: 3rem;
  top: 10rem;
}

.TopHat {
  width: 16rem;
  left: -0.25rem;
  top: -3.5rem;
  z-index: 500;
}

.VikingHelmet {
  width: 20rem;
  left: -1.75rem;
  top: -4.75rem;
  z-index: 500;
}

.XmasBeard {
  width: 12rem;
  left: 2.5rem;
  top: 13.75rem;
}

.XmasHat {
  width: 16rem;
  left: -2rem;
  top: -1rem;
  z-index: 500;
}
