@import '../../../assets/scss/variables';

.TerminalHeader {
  @include flex(center, space-between, row nowrap);
  background-color: #333;

  &__Tabs {
    @include flex(center, center, row nowrap);

    &__NewTab {
      @include flex(center, center, row nowrap);
      width: 2rem;
      height: 2rem;
      font-size: 1.2em;
      cursor: default;

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }

      &:nth-child(3) {
        &::before {
          transform: rotate(90deg);
          content: $codicon-chevron;
          font-family: $codicon-font-family;
        }
      }
    }
  }

  &__Controls {
    @include flex(center, center, row nowrap);
    height: 2rem;
    font-family: $codicon-font-family;

    span {
      @include flex(center, center, row nowrap);
      width: 2.5rem;
      height: 100%;
      text-align: center;
    }

    &__Minimize {
      &::before {
        content: $codicon-minimize-window;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    &__Maximize {
      &::before {
        content: $codicon-restore-window;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    &__Close {
      &::before {
        content: $codicon-close-window;
      }

      &:hover {
        background-color: rgb(230, 48, 48);
        color: #fff;
      }
    }
  }
}
