@import '../../../assets/scss/variables';

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: 10rem;
  }
}

@keyframes slideDownUp {
  from {
    height: 10rem;
  }
  to {
    height: 0;
  }
}

.HeaderNav {
  &__Links {
    @include flex(center, center, column nowrap);
    position: absolute;
    overflow: hidden;
    top: 5rem;
    left: 0;
    right: 0;
    animation: slideDownUp 500ms forwards;
    z-index: 1;
    background-color: #0a161f;

    &__Open {
      @extend .HeaderNav__Links;
      animation: slideDown 500ms forwards;
    }

    &__Desktop {
      @include flex(center, center, row nowrap);
    }

    &__Item {
      font-size: 1.6rem;
      margin: 0 1rem;
      padding: 0.25rem 0;
      width: 40%;
      display: inline-block;

      @include lg {
        display: inline;
        width: fit-content;
        transition: transform 100ms ease, color 100ms ease;
      }

      &:hover {
        color: #00ff95;

        @include lg {
          transition: transform 250ms ease, color 250ms ease;
          transform: scale(1.1);
        }
      }
    }
  }
}
