@import '../../../assets/scss/variables';

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;

  }
  to {
    height: 10rem;
  }
}

@keyframes slideDownUp {
  from {
    height: 10rem;
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }100%{
    height: 0;
    opacity: 0;
  }
}

.HeaderNav {
  width: 100%;

  &__Links {
    @include flex(center, center, column nowrap);
    position: absolute;
    overflow: hidden;
    top: 5rem;
    left: 0;
    right: 0;
    animation: slideDownUp 500ms forwards;
    z-index: 1;
    background-color: #0a161f;

    &__Open {
      @extend .HeaderNav__Links;
      animation: slideDown 500ms forwards;
    }

    &__Desktop {
      @include flex(flex-start, center, column nowrap);
    }

    &__Item {
      font-size: 1.4rem;
      margin:  1rem 0;
      padding: 0.25rem 0;
      width: 40%;
      display: inline-block;

      @include lg {
        display: inline;
        width: fit-content;
        transition: transform 100ms ease, color 100ms ease;
      }

      &:hover {
        color: #00ff95;

        @include lg {
          transition: transform 250ms ease, color 250ms ease;
          transform: scale(1.1);
        }
      }
    }
  }
}
