@import '../../../assets/scss/variables';
@import '../../../assets/scss/keyframes';

.Home {
  @include flex(stretch, space-between, column nowrap);
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: $gutter;
  overflow: hidden;

  @include lg {
    padding: $gutter $gutter * 2;
  }

  @include xl {
    padding: $gutter * 2;
    flex-direction: row;
  }

  section {
    @include xl {
      width: 45%;
    }

    &:first-child {
      @include flex(center, center, column nowrap);

      @include sm {
        align-items: flex-start;
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }

  hr {
    width: 100%;
    background-color: rgba($normal-secondary-color, 0.5);
    border: none;
    height: 4px;
    transform: skew(-60deg);
    border-radius: 20px;
    margin: 2rem 0;
    box-shadow: 1px 1px 1px rgba($normal-secondary-color, 0.25);

    @include xl {
      display: none;
    }
  }

  &__Presentation {
    &__Container {
      font-size: 1.4rem;
      margin: 1rem 0;
      line-height: 1.5;
      text-align: justify;
      width: 100%;

      p {
        margin: 1rem 0;
      }
    }

    &__Cta {
      display: block;
      text-align: center;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      background-color: transparent;
      border: 1px solid $normal-secondary-color;
      transition: all 250ms ease-in-out;
      margin-left: auto;

      @include sm {
        width: fit-content;
      }

      @include xl {
        margin-left: 0;
      }

      &:hover {
        background-color: $normal-secondary-color;
        color: $normal-primary-color;
      }
    }
  }
}
